.add-input {
  margin-top: 5px;
  margin-bottom: 8px;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  background-color: #054572;
}
.add-button {
  font-size: 12px;
  font-weight: bold;
  width: fit-content;
  border-radius: 5px;
}
